{
  "presets": ["es2015-loose", "react", "stage-1"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-flow-strip-types",
    "transform-object-assign",
    "transform-react-display-name",
    "transform-runtime",
    "typecheck",
  ]
}
